@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&display=swap');
@font-face {
  font-family: 'Mitr';
  src: url('../assets/fonts/Mitr-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Mitr';
  src: url('../assets/fonts/Mitr-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mitr';
  src: url('../assets/fonts/Mitr-Medium.ttf');
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Mitr", sans-serif;
  color: #414b4f;
}



/* Calculator */
.site-main .calculator-area {
  padding: 5rem 0;
  background-color: #f4a100;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.site-main .calculator-area .calculator-box {
  width: 100%;
  margin: 0 8%;
  padding: 4% 10%;
}

.site-main .calculator-area .calculator-result {
  padding: 1rem;
  background-color: #f1f3f6;
  text-align: center;
}


@media print {
  html,
  body {
    /*changing width to 100% causes huge overflow and wrap*/
    height: 100%;
    font-size: 11pt;
  }

  .pagebreak {
    page-break-before: always;
}

  body * {
    visibility: hidden;
  }

  #calculator * {
    float:none;
    visibility: visible;
  }
  #calculator {
    position: absolute;
    background-color: black;
    top: 20px;
    width: 100%;
  }  
}

@media only screen and (max-width: 1000px) {
  .header_area .main-menu .navbar .navbar-brand {
    padding: 0;
  }
  .header_area .main-menu .navbar {
    padding: 1rem 2rem;
  }
}

.detail-area p {
  font-weight: 300;
  font-size: 18px;
  padding: 0.5rem 0;
}

.detail-area ul  {
  font-weight: 300;
  font-size: 18px;
}